@keyframes onModalOpen {
    0% {
        margin-top: 60rem
    }

    ;

    100% {
        margin: 0rem
    }

    ;
}

.overlay {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 300px;
    padding: 10px;

    background-color: var(--background);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    border-radius: 5px;

    animation: onModalOpen;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.content p {
    text-align: center;
    font-size: 1.2rem;
}

.content .closeModalImg {
    position: absolute;
    top: 20px;
    right: 20px;

    cursor: pointer;
}

.content .singularLogo {
    width: 10vh;
    margin: 10px 0px;
}

.content .title {
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 0px;
}

.content form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    width: 95%;
}

.content input {
    width: 100%;
    margin-bottom: 5px;
}

.content button {
    margin: 5px 0px;
    padding: 1.5rem 0;
}

.content .switchLogin {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.invisible {
    visibility: hidden;
    position: absolute;
}

.visible {
    visibility: initial;
    position: initial;
}